@charset "utf-8";
/* CSS Document ZhuQi yuchuang 2016.7.7 */
/**首页**/

select {

	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
    padding-right:30px;
	padding-right:0px\9;
	background:#fff url(../images/dsanj_03b.png) no-repeat right center;
	background:#fff\9;
	border: 1px solid #999;
}
.tableborderlist{width:100%;background: #F1EEEE;}
.tableborderlist tr td{border: 1px solid #c6c6c6;}
.tablerangborder{
	float: left;
	width: 100%;
	border: 2px solid #0082cb;
}

/**    **/
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
.dispa{display: none;}
.dispa.dispa5,.dispa.dispa6{display:inline-block;}
.image.indeximage{width: 100%;position: relative;z-index: 10;}
.indeximage .image1{position:absolute;top:233px;left: 50%;width: 46%; margin-left:-23%; margin-top: 50px;     top: 200px\9;     margin-top: 0\9;}
.indeximage .image1 input[type=text]{float: left;width: 65%;height: 50px;line-height:50px\9;font-size: 18px;padding-left: 10px;font-weight: 500;border: 0;border-left:1px solid #c4c4c4; }
.indeximage .image1 button,.indeximage .image1 .button{width: 20%;height: 50px;background-color: #f5a100;color: white;font-size: 18px;font-weight: 600;border: none;outline: none;}
.indeximage .image1 ul{clear: both;width: 35%;height: 30px;}
.indeximage .image1 ul li{list-style:none;float: left;width: 20%;color: white;text-align: center;line-height: 30px;font-weight: 600;font-size: 17px;}
.indeximage .image1 ul li:hover{background-color: #009e4a;}
.indeximage #acid{height:50px;width: 8%;border-right: 0;width: auto;padding: 0 30px 0 10px;padding: 0 0 0 10px\9;border: 0;border-right: 0;padding: 13px 0\9;}
#reabkc001{ width:100%; height:100px; resize: none;}
#myModalmovereason .modal-footer .form-submit{ background: #0588ce; padding: 5px 10px; border:none; border-radius: 5px; color:#fff;}
.yunduo{ background: url("../images/yun_02.png") no-repeat; width:100%; height:363px; position: absolute;    z-index: 9; animation:yuun 50s linear infinite; -webkit-animation:yuun 50s linear infinite;-o-animation:yuun 50s linear infinite;-moz-animation:yuun 50s linear infinite;-ms-animation:yuun 50s linear infinite;}

@-webkit-keyframes yuun {
	0%{
		left:-100%;
	}
	100%{
		left:100%;
	}
}

@-o-keyframes yuun {
	0%{
		left:-100%;
	}
	100%{
		left:100%;
	}
}

@-moz-keyframes yuun {
	0%{
		left:-100%;
	}
	100%{
		left:100%;
	}
}
@-ms-keyframes yuun {
	0%{
		left:-100%;
	}
	100%{
		left:100%;
	}
}
@keyframes yuun {
	0%{
		left:-100%;
	}
	100%{
		left:100%;
	}
}


.table456{display: none; height:300px;    padding: 0 28px;	line-height: 30px;}
#savebtnmove{display: none;}
#searchcontent #rang{border: 2px solid #0588ce; background: rgba(255,255,255,0.9);background: #ffffff\9; width:100%; display: none; }
.rangdiv{max-height: 422px;overflow: auto; margin-top: 133px;}
#searchcontent #rang tr td{border: 1px solid #c6c6c6;}
#searchcontent #rang tr td >table{ margin: 0; width:100%;background: rgba(255,255,255,0.5);}
.indexmessage{  display:none;   width: 71%; position: absolute;left:60px; top:50px;  background: #fff;z-index:50;}
.indexmessage > div{ line-height: 25px;    color: #000; font-size: 16px;padding: 0 8px; }
.indexmessage > div:hover{ background: #DEDEDE;}
.indexnav{ position: absolute; left:0;bottom:-30px;    z-index: 99;}
.inputsearch{     min-width: 500px;   /*width: 760px;	box-shadow: 0 0 3px #000;*/    position: relative;z-index: 999;}
.indexnav input{ font-family: "微软雅黑"; font-size: 20px; color:#fff; background: none; border:none; margin-right: 5px; }
.indexnav input.click{ /*background: #009e4a; border-radius: 3px; */    border-bottom: 1px solid #EEF5F1;}
.indexnav input:hover{/*color:#F5A100;*/}
#etimex{display: inline-block; position: relative; /*top:9px\9;*/}
#etime{/*padding: 10px 2px; */ width: 100px;
	display: block;

	position: relative;
	top: 2px;

	top: 10px\0;
	left: 3px;
	font-size: 1em;
	line-height: 1.42857143;
	color: #555;
	background-color: #eee;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.header span em{
	font-style: normal;
	display: inline-block;
	background: #0D618E;
	padding: 6px 30px;
	cursor: pointer;
	border-radius: 5px;
	position: relative;
	left: 30px;
	/*background:#1FA8F0;*/
}
#searchcontent{width: 90%;}
/**跟进显示**/
select{outline:none;}
.table.table1 table tr  td{ position: relative;}
.expend{
	display:none;
	position: absolute;
    left: 117px;
    background: #fff;
    border: 1px solid #ccc;
    color: #222;
    text-align: left;
    padding-left: 20px;
    width: 270px;
    z-index: 2;
	min-height: 100px;
}
.ralaname{
	float: left;
	line-height: 60px;
	font-size: 25px;
	color: #000;
	margin-left: 20px;
}
.expend ul {
	width:100%;height:100%;max-height:150px; overflow-y:auto; 
}
.expend h4 span {
    font-size: 12px;
    color: #ff7c35;
    margin-left: 10px;
}
.expend .time {
    color: #929292;
    padding: 7px 0 3px;
}
/**星星**/
.start{ background: url(../images/start.png) no-repeat; width: 161px; height:30px; background-size: 161px; margin: 0 auto; position: relative; top:-3px;}
.start1{background-position: 0 -33px;}
.start2{background-position: 0 -65px;}
.start3{background-position: 0 -98px;}
.start4{background-position: 0 -131px;}
.start5{background-position: 0 -164px;}
.numedit input{width:50px;}s


/**起航**/
.qihangkecheng table{ margin: 0;}
.qihangkecheng .but{overflow: hidden;}
.qihangkecheng .but > div{     
	line-height: 55px;
    font-size: 20px;
    color: #000;
    margin-left: 25px;
    padding-top: 8px;
}

.select{width: 100%;height: 50px;}
.select select{color: black;padding:5px 0\9;}
.select select:first-child{/*width: 7%;*/height: 35px;float: left;border-radius: 2px;}
.select select#con{width: auto;padding: 0 10px 0 15px;padding: 0\9;padding:5px 0\9;}
.select input{float: left;width: 15%;height: 35px;line-height:35px\9;border-radius: 2px;margin-left: 1%;border: 1px solid #0588ce;padding-left: 10px;}
.select button,.select .button{float: left;width: 6%;height: 35px;border-radius: 2px;background-color: #0588ce;border: none;color: white;border-radius: 2px;outline: none;padding: 0;  margin: 0;}
.select select#con{width: 7%;height: 35px;border-radius: 2px;float: right;}

.container.qihangkecheng .but input{ float:right; padding:5px 20px; height:auto;    font-size: 16px;}
.qihangkecheng table#rang{ width:100%; border:1px solid #c6c6c6; margin:0; color:#757373;}
.qihangkecheng table#rang tr th{color:#666666; font-weight: bold; text-align: center; height:48px;font-size: 17px;}
.qihangkecheng .tableborder{border:2px solid #0588ce;font-size: 14px; min-height:197px;}
.qihangkecheng table#rang tr td{ text-align: center;border: 1px solid #c6c6c6;padding: 2px;color: #7c7575;font-size: 17px;}
.qihangkecheng .ratable{ width:100%; border: 1px solid #c6c6c6; background: #f2f9fd; font-size: 13px;}
.qihangkecheng table#rang tr>td input{ min-width:56px; margin: 0 3px; padding:6px;    font-size: 16px;border:none; border-radius:3px; }
.qihangkecheng table#rang .tyutable tr>td input{min-width:50px;}
.qihangkecheng table#rang tr>td input.btn-primary{ background: #0588ce; color:#fff;}
.qihangkecheng table#rang tr>td input.btn-danger{ background: #e33109; color:#fff;}
.qihangkecheng table#rang tr>td input.btn-warning{ background: #f5a100; color:#fff;}
.gundongtable tr td>input[type=text]{ text-align: center;}
.rankingbtn{max-width:338px; display: inline-block; text-align: left;}
.qihangkecheng table#rang tr>td .rankingbtn input{ margin-bottom: 5px;}
.qihangkecheng table#rang tr>td .rankingbtn input.btn-success{background: #5bb75b;}
/**起航课程弹窗**/
.tianjiacss .modal-dialog{width: 400px;margin: 30px auto;}
.tianjiacss .modal-header{ background: #0588ce; color:#fff;border-radius: 6px 6px 0 0;}
.tianjiacss .modal-header .close{color:#fff; opacity:.8;}
.tianjiacss #bianji tr td{  border: 1px solid #c6c6c6; }
.tianjiacss #bianji tr.click{background: #E3FBF5;}
.tianjiacss .tjform input[type=text]{ border:1px solid #9ea0a2; border-radius:2px; width:46%; height:30px; border-radius: 0 2px 2px 0;}
.tianjiacss .tjform input[type=button]{ border:1px solid #0588ce; color:#0588ce; background: #fff;width:20%; margin-left: 1%;height: 29px; border-radius: 3px;}
.tianjiacss .tjform #teamall{border:1px solid #9ea0a2; border-radius:2px;height:30px;     position: relative;	top: 2px;border-radius: 2px 0 0 2px;  border-right: none;}
#myModalmove #reback{ width:100%; resize: none; border-radius: 2px; margin-top: 7px;}
#myModalmove .tablebtn{ text-align: center;}
#myModalmove .tablebtn > input[type=button]{background: #0588ce;border-radius: 6px;padding: 8px 31px;color:#fff; border: none;}

.tianjiacss .gundongtable{ height:300px; overflow-y:auto; padding-right: 5px; }
.tianjiacss #strbtn{ text-align: center;}
.tianjiacss #strbtn input[type=button]{ width:100px; background: #0588ce; color:#fff; border:none;padding:5px 10px; border-radius:5px;}
.tianjiacss .modal{ z-index: 60;}
.modal-backdrop{ z-index: 59;}
#strbtns{ text-align: center;margin-top: 20px;}
#strbtns input[type=button]{ background: #0588ce; color:#fff; padding: 5px 30px; border:none; border-radius:3px;}
#strbtns1,.strbtns1{ text-align: center;margin-top: 20px;}
#strbtns1 input[type=button],.strbtns1 input[type=button]{ background: #0588ce; color:#fff; padding: 5px 30px; border:none; border-radius:3px;}
.tianjiacss #ran >tbody{ width:100%;}
.tianjiacss #ran tr>td:nth-of-type(1){ float:left;}
.tianjiacss #ran tr>td{ line-height: 30px;}
.tablebor{border:1px solid #cacaca; padding:0px 20px}
.tablebor input[type=text],.tablebor select{ height:30px;padding: 0 6px;}
.trnone,.trnone1{display: none;}
.tyutable{ background: #e2f3fb; font-size: 12px; }
/**新的弹出窗**/

.TaskTablecount.taskdemo{width: 430px;}
.TaskTablecount.taskdemo .Task_header{ height:50px;}
.TaskTablecount.taskdemo .Task_header h3{ text-align: left;padding-left: 12px; height:50px; line-height: 50px;}
.TaskTablecount.taskdemo i.close_task{ top: 15px;}
.TaskTablecount.taskdemo .tableborder{ width:98%; margin: 0 auto; border:1px solid #cacaca; padding: 10px 20px; border-radius:4px;}
.TaskTablecount.taskdemo .tableborder>p{ margin: 5px 0;}
.TaskTablecount.taskdemo .tableborder>p>span{ text-align: left; color:#000000;}
.TaskTablecount.taskdemo .tableborder>p>input,.TaskTablecount.taskdemo .tableborder>p>select{height:29px; padding: 0 12px; width:180px;}
.TaskTablecount.taskdemo .addbtn{     
	background: #f5a100;
    border: none;
    color: #fff;
    padding: 5px 15px;
    margin-top: -4px;
    border-radius: 3px;
    font-size: 14px;
}
.TaskTablecount.taskdemo .demotime{
	width: 302px;
    border: 1px solid #cacaca;
}
.TaskTablecount.taskdemo .dtitle{ height:30px; line-height: 30px; padding-left: 10px; color:#9e9fa1; border-bottom:1px solid #cacaca;font-size: 14px;}
.TaskTablecount.taskdemo .dcontent{padding: 10px;    overflow-y: auto;	height: 89px;}
.TaskTablecount.taskdemo .dcontent span{ display: inline-block; border-radius:3px;border:1px solid #f5a100; color:#f5a100;padding: 4px 10px;margin-right: 10px;
    margin-bottom: 10px; position: relative;}
.TaskTablecount.taskdemo .dcontent span em{ background: url(../images/cha.png) no-repeat; width:15px; height:15px;display: block; position: absolute;top:-7px;right:-7px; cursor: pointer;}
body input{outline: none;}
.table-border tr td button{
	padding:10px;
	height: 28px;
	border-radius: 3px;
	margin-left: 10px;
	outline: none;
}
.TaskTablecount.taskdemo .Task_cont p span{width:33%;font-size: 16px;}
#teandata{ margin: 0;}
#teandata tr td{ position: relative; text-align: center;}
#teandata tr td>.btn{width:70px; height:30px; text-align: center; line-height: 30px; border:none; border-radius:3px; margin-right: 5px;}
#teandata .divbox{
	position: absolute;
    top: 11px;
    left: 156px;
    background: #fff;
    border: 1px solid #ccc;
    /*overflow: hidden;*/
    display: none;
    width: 200px;
    z-index: 9999;
    text-align: left;
}

#teandata .divbox span{display: inline-block; margin:5px 10px;/*height: 30px;    line-height: 30px;*/}
.single2{
	    display: block;
    position: absolute;
    left: -19px;
    width: 0;
    height: 0;
    border: 10px solid #fff;
    border-color: transparent #fff transparent transparent;
}
.single1 {
    display: block;
    position: absolute;
    left: -20px;
    width: 0;
    height: 0;
    border: 10px solid #ccc;
    border-color: transparent #ccc transparent transparent;
}
.tableinput  tr > td > input.form-control,.tableinput  tr > td > select.form-control{ width:100%;}
.addbtn .modal-footer{ text-align: center;}
.addbtn .modal-footer button{ background:#006dcc; padding: 5px 20px; color:#fff; border:none;border-radius:3px;}

body #llever tr:nth-child(2) td{font-size: 16px;color:#696969;font-weight: 600;}
body #llever tr td{padding: 0 5px; height: auto;font-size: 14px; border-collapse:collapse;    }
body #llever tr td input{    width: 100%;margin: 0;}
body #llever tr td input[type=button]{ margin: 10px 0;float: left;	width: 30%;    margin-right: 3%;}
.finaright{  text-align: right; max-height: 101px;}
#selename{
	float: right;
    padding-top: 19px;
}
#llever tr td{ position: relative;}
#llever tr td div.xian{
	position: absolute;
    height: 100%;
    width: 11px;

    right: -6px;
    top: 0;
    background: #fff;
}
/*
.lleverdiv{ width:100%;	overflow-x: auto; max-height:100%; overflow-y: auto; }

.lleverdiv{
	border: 2px solid #0082cb;
	overflow: auto;
	margin-top: 10px;
}
.container .lleverdiv .content{ padding: 0; margin: 0; border:none;}**/
#myModaljin #savajin{ background:#6D808A; border:none;    padding: 6px 19px; color:#fff;    border-radius: 3px;}
.container .lleverdiv> table.content{width:1885px;}
body #llever tr td input[type=button].alldelete{width:auto;}
.container .content .date .btn-default.searchbtn{
    width: 130px;
    height: 40px;
	margin-left:10px;
    background: url(../images/bigjing_03.png) no-repeat 100px center;
	border:none;
	border-radius:0;
	border-left: 1px solid #0588ce;
    border-right: 1px solid #0588ce;
	color:#0588ce;
	margin-top: -1px;
	font-size: 16px;
}
.xiangqing{ text-align: center;color: #0588CE;cursor: pointer;font-size: 12px;margin-top: 5px;} 
.ctitle{ overflow: hidden;}
.container .ctitle h3{ float: left;margin-left: 20px; margin-bottom: 13px;padding-top: 8px;color: #000;
    font-size: 20px;}
.ctitle .cbtn{ float:right;margin-top: 7px;}
.ctitle .cbtn .btn-success{ margin-top: 0px; font-size: 16px;}
.ctitle .cbtn .btn-success{ border:1px solid #0588ce; background: #fff; color:#0588ce;width: 143px; height: 36px;margin-left: 5px;}
.Teacher_achievement .date{}
.container.cupdate  .content .date {
     background: none; 
     color: #0588ce;
     padding:0; 
     border-radius: 4px; 
}
.container.cupdate .form-control{
	width: 100px;
}
.table-border tr td{

	border-collapse:collapse;

}
.container.cupdate .table-border tr td{
	border:1px solid #b2b2b2;
	border-collapse:collapse;
	/*border-width: 0 2 2 0;*/
}
.bg-mask,.loding{display: block;float: left;width: 100%;position: fixed;z-index: 9999;top: 0;left: 0;height: 100%;background: url(../images/loadingbg.png) repeat; }
.mask-conrment{position: relative; border-radius: 3px; z-index: 26; display: block; width:525px; height:246px;margin:15% auto; background-color: white;}
.mask-conrment h3{ color:#0588CE; width: 100%;height:45px; line-height: 45px; border-bottom:2px solid #0588CE;  text-align:left;padding: 0  0 0 10px; }
.mask-conrment p{text-align: center; font-size:3em;padding: 25px 0; }
.mask-conrment span{text-align: center;display: block;}
.mask-conrment p:nth-of-type(2){text-align: center; font-size:1em;padding: 30px 0 0 0;}
#goodsNum,#nowNum{display:inline-block; padding:0 2px;  max-width:100px;}
#upnotice{ position: absolute; top:125px; width: 100%;font-size:1em;}
/*遮罩层介于16~20之间,一般层低于15*/
.masker {
	display:none;
	-moz-opacity:0.5;
	filter:alpha(opacity=50);
	opacity:0.5;
	background:url(../images/loadingbg.png);
	width:100%;
	height:100%;
	z-index:100;
	position:fixed;
	left:0px;
	top:0px;
}
.modal-backdrop{background:url(../images/loadingbg.png);}
/*首页*/
body {
	min-width:1200px;
	overflow-x:auto;
	background:#eff2f7;
}
::-webkit-scrollbar {
	width:5px;
}
/* 这是针对缺省样式 (必须的) */::-webkit-scrollbar-track {
	background-color:#ffffff;
}
/* 滑轨????? */::-webkit-scrollbar-thumb {
	background-color:#eaeaea;
}
/* 滑块????? */::-webkit-scrollbar-button {
	background-color:none;
}
/* 滑轨两头的监听按钮????? */ /*alert*/ input,button {
	margin:0;
	vertical-align:middle;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	/*margin-top: 74px;*/
}
.box-163css {
	width:350px;
	margin:220px auto;
	position:relative;
}
#dvMsgBtns {
	text-align:center;
	width:100%;
}
.box-163css input {
	margin-left:10px;
	border:none;
	border:1px solid #a10000;
	background:#c00;
	text-align:center;
	height:24px;
	line-height:20px;
	color:#fff;
	cursor:pointer;
}
#dvMsgBox {
	display:none;
	position:fixed;
	width:530px;
	overflow:hidden;
	z-index:10001;
	border-radius:3px;
	font-family:Microsoft YaHei;
}
#dvMsgBox .top {
	height:45px;
	background-color:#ffffff;
	border-bottom:2px solid #6cc2ed;
	padding-left:16px;
	float:left;
	width:100%;
}
#dvMsgBox .top .right {
	height:100%;
	padding-right:6px;
}
#dvMsgBox .top .right .title {
	height:100%;
	line-height:45px;
	color:#6cc2ed;
	vertical-align:middle;
	font-size:18px;
	overflow:hidden;
}
#dvMsgBox .body {
	background:#fff;
	padding:40px 0 20px 10px;
}
#dvMsgBox .body .right {
	background:#fff;
	padding-right:2px;
}
#dvMsgBox .body .right .ct {
	line-height:35px;
	margin-top:40px;
	vertical-align:middle;
	width:90%;
	margin:40px 5% 0 5%;
	text-align:center;
	color:#014f96;
	font-size:18px;
}
#dvMsgBox .body .right .ct .pro {
	width:280px;
	border:solid 1px #6593cf;
	height:25px;
	background:#ffffff;
	line-height:23px;
	overflow:hidden;
}
#dvMsgBox .body .right .ct .pro .bg {
	width:0%;
	height:100%;
	background:#c9dffc;
}
#dvMsgBox .bottom {
	background:#fff;
	padding-left:6px;
}
#dvMsgBox .bottom .right {
	height:100%;
	padding-right:6px;
}
#dvMsgBox input.btn {
	width:130px;
	border:1px solid #6cc2ed;
	background-color:#ffffff;
	border-radius:3px;
	cursor:pointer;
	color:#6cc2ed;
	height:40px;
	text-align:center;
	margin:0px auto;
}
input.btnfocus {
	width:130px;
	border:1px solid #6cc2ed;
	background-color:#6cc2ed;
	border-radius:3px;
	cursor:pointer;
	color:#ffffff;
	height:40px;
	text-align:center;
	margin:0px auto;
}
#dvMsgBox .icon {
	width:32px;
	height:32px;
	float:left;
	margin-right:10px;
}
#dvMsgBox .error {
	background:url(icon-error.gif) no-repeat;
}
#dvMsgBox .info {
	background:url(icon-info.gif) no-repeat;
}
#dvMsgBox .warning {
	background:url(icon-warning.gif) no-repeat;
}
#dvMsgBox .clear {
	clear:both;
}
#dvMsgBox .height {
	height:10px;
	line-height:10px;
}
#ShowBolightBox {
	display:none;
	-moz-opacity:0.5;
	filter:alpha(opacity=50);
	opacity:0.5;
	background:url(../images/loadingbg.png);
	z-index:10000;
	position:fixed;
	left:0px;
	top:0px;
}
.box-verification-footer .btn {
	color:white;
	background:#848484;
	border:none;
}
.box-verification-footer .btn:first-child {
	color:white;
	background:#e53620!important;
}
/*分页*/ .tcdPeCodes,.tcdPageCode {
	padding:5px 20px 0 20px;
	text-align:left;
	color:#ccc;
	text-align:center;
	float:right;
}
.prevPage,.nextPage,.tcdNumber,.pagecurrent,.disabled,.tcdPageCode a,.num {
	display:inline-block;
	cursor:pointer;
	color:#000000;
	display:inline-block;
	height:30px;
	line-height:30px;
	padding:0 10px;
	border:1px solid #dbdbdb;
	margin:0 2px;
	border-radius:4px;
	vertical-align:middle;
}
.prevPage:hover,.nextPage:hover,.tcdNumber:hover,.pagecurrent:hover,.disabled:hover,.tcdPageCode a:hover {
	text-decoration:none;
	border:1px solid #6cc2ed;
}
.pagecurrent:hover {
	background-color:#e83c2d;
	color:white;
}
.tcdPageCode span.pagecurrent {
	display:inline-block;
	height:30px;
	line-height:30px;
	padding:0 10px;
	margin:0 2px;
	color:#fff;
	background-color:#0588CE;
	border:1px solid #0588CE;
	border-radius:4px;
	vertical-align:middle;
}
/*.tcdPageCode .nextPage,.tcdPageCode a.disabled,*/ .tcdPageCode span.disabled {
	display:inline-block;
	height:30px;
	line-height:30px;
	padding:0 10px;
	margin:0 2px;
	color:#bfbfbf;
	background:#f2f2f2;
	border:1px solid #bfbfbf;
	border-radius:4px;
	vertical-align:middle;
}
#downloadclosewindow i,#uploadingclosewindow i,#closewindow2 i {
	float:right;
	font-size:1em;
	padding:14px;
}
#aname {
	font-size:1.2em;
	float:left;
	padding:0 20px;
}
#years,#anzhao,#ratio,#ordering {
	float:left;
	padding:0 20px;
	color:#e53e28;
}
.Singletable {
	width:100%;
	float:left;
	line-height:53px;
	height:53px;
	border-bottom:2px solid #e33019;
}
.Singletable input {
	border-radius:3px;
	background-color:white;
	width:180px;
	font-size:1em;
	height:35px;
	text-align:center;
	text-decoration:none;
	color:#e53e28;
	border:1px solid #c9302c!important;
}
.Singletable input:hover {
	background-color:#C82618;
	color:white;
}
.table-responsive .financias-menu li {
	width:20%!important;
	float:left;
	text-align:center;
	height:42px;
	line-height:42px;
}
.table-responsive .financias-menu td {
	text-align:center;
	width:12.5%!important;
	float:left;
	height:46px;
	line-height:46px;
}
.pageheader,#pageheader {
	width:100%;
	float:left;
	padding:10px 0;
	border-top:1px solid #e5e5e5;
	cursor:pointer
}
.TaskTablecount .table-responsive .financias-menu li {
	width:12.5%;
	float:left;
}
#costwidth {
	min-width:220px;
}
#costwidth div {
	width:200px;
	margin:auto;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.financias-menu .nums-1 {
	background:url(../images/login-image/upset.png) no-repeat scroll right center transparent;
	background-repeat:no-repeat;
}
.financias-menu .nums-2 {
	background:url(../images/login-image/upset2.png) no-repeat scroll right center transparent;
	background-repeat:no-repeat;
}
.pagecurrent {
	background:#e83c2d;
	color:white;
}
.tcdPageCodes .pagecurrent {
	background:#e83c2d;
	color:white;
}
/*轮播*/ .flexslider {
	margin:0px auto 20px;
	position:relative;
	width:100%;
	height:502px;
	overflow:hidden;
	zoom:1;
}
.flexslider .slides li {
	width:100%;
	height:100%;
}
.flex-direction-nav a {
	width:70px;
	height:70px;
	line-height:99em;
	overflow:hidden;
	margin:-35px 0 0;
	display:block;
	background:url(../images/login-image/ad_ctr.png) no-repeat;
	position:absolute;
	top:50%;
	z-index:10;
	cursor:pointer;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:all .3s ease;
	border-radius:35px;
}
.flex-direction-nav .flex-next {
	background-position:0 -70px;
	right:0;
}
.flex-direction-nav .flex-prev {
	left:0;
}
.flexslider:hover .flex-next {
	opacity:0.8;
	filter:alpha(opacity=25);
}
.flexslider:hover .flex-prev {
	opacity:0.8;
	filter:alpha(opacity=25);
}
.flexslider:hover .flex-next:hover,.flexslider:hover .flex-prev:hover {
	opacity:1;
	filter:alpha(opacity=50);
}
.flex-control-nav {
	width:100%;
	position:absolute;
	bottom:10px;
	text-align:center;
}
.flex-control-nav li {
	margin:0 2px;
	display:inline-block;
	zoom:1;
	*display:inline;
}
.flex-control-paging li a {
	background:url(../images/login-image/dot.png) no-repeat 0 -16px;
	display:block;
	height:16px;
	overflow:hidden;
	text-indent:-99em;
	width:16px;
	cursor:pointer;
}
.flex-control-paging li a.flex-active,.flex-control-paging li.active a {
	background-position:0 0;
}
.flexslider .slides a img {
	width:100%;
	height:502px;
	display:block;
}
ul,li {
	list-style-type:none;
}
/*header*/ .main {
	}.top {
	display:block;
	width:100%;
	height:72px;
}
.header {
	width:100%;
	height:72px;
	background-color:#0588ce;
	position:fixed;
	top:0;
	left:0;
	z-index:51;
	border-bottom: 1px solid #5bc6ff;
}
.header i {
	background:url(../images/login-image/logone.png) no-repeat center;
	margin-left:30px;
	width:225px;
	height:72px;
	display:inline-block;
	float: left;
}
.header span {
	display:block;
	position:fixed;
	top:22px;
	right:59px;
	color:white;

	letter-spacing:2px;
}
.header .but1 {
	display:inline-block;
	float:right;
	margin:20px 10% 0 0;
	vertical-align:top;
	font-size:16px;
	min-width: 98px;
	border:1px solid #9fe0fe;
	color:white;
	border-radius:3px;
	background-color:#1fa7ef;
}
.header .but2{
	display:inline-block;
	float:right;
	margin:20px 2% 0 0;
	vertical-align:top;
	font-size:16px;
	border:1px solid #9fe0fe;
	color:white;
	border-radius:3px;
	background-color:#1fa7ef;
}

.header input,.header .button{
	display:inline-block;
	float:left;
	margin:18px 0.6% 0 0;
	vertical-align:top;
	font-size:16px;
	border:1px solid #4bc0ff;
	background:none;
	color:white;
	border-radius:3px; 
	/*width: 6%;*/
	min-width:95px;
    text-align: center;
    height: 36px;
    line-height: 36px;
	position: relative;
	padding: 0 5px;
}
.header .button{
	cursor: pointer;
}
.header input:hover,.header input.focuse,.header .button:hover,.header .button.focuse{
	background-color:#1fa8f0;
	box-shadow:0px 0px 10px #01589c;
}

.messageweidu1{
    /*position: absolute;
	right:-5px;
	top:-5px;*/
	display: inline-block;
	width:10px;
	height:10px;
	border-radius: 50%;
	background: #FF010C;
	margin-left: 10px;
}

.header h3{
	color: white;
	margin:25px 2% 0 0;
    float:right;
}

.main_bottom .aa{width: 100%;height: 100px;text-align: center;line-height: 30px;clear: both;}
.main_bottom .aa p{font-size: 16px;font-weight: 600;}
.main_bottom .aa p:last-child{ width:100%; text-align: center; display:block;}
.main_bottom .aa p:last-child img{ width: 1000px; margin: 0 auto;}
.main_bottom .aa a{font-size: 14px;}
.main_bottom ul{width:70%;margin-left: 15%;margin-bottom: 60px; display: inline-block;}
.main_bottom ul li{list-style:none;width: 33.3%;text-align: center;float: left;margin-top: 20px; height:268px;}
.main_bottom ul li p{font-size: 16px;font-weight: 600;margin-top:8px;}
.main_bottom ul li a{width:45%;font-size: 13px;color: #959595; line-height:20px; display:block; margin: 8px auto;text-decoration: none;}


.main #loginpage {
	z-index:101;
	display:none;
	border-radius:5px;
	position:fixed;
	right:10%;
	top:30%;
	width:290px;
	height:220px;
	padding:10px;
	background:#000000;
}
.main #loginpage .from {
	width:100%;
	background:white;
	height:40px;
	line-height:40px;
	border-radius:4px;
	padding:0 16px;
	margin:25px 0;
}
.main #loginpage .from input {
	vertical-align:top;
	border:none;
	margin-left:20px;
	outline: none;
	height: 40px;
}
.main #loginpage .from i {
	font-size:28px;
	line-height:40px;
}
.login .btn-info {
	width:270px;
	display:block;
	margin:auto;
	height:40px;
}
.login b {
	position:absolute;
	right:10px;
	top:8px;
	color:white;
}
.login b:hover {
	color:red;
	cursor:pointer;
}
/*footer*/ .yui-foottext {
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	height:30px;
	background-color:#0588ce;
	font-size:14px;
	line-height:30px;
	color:white;
	z-index:51;
    text-align: center;
    line-height: 30px;
}

/*导航栏*/ .menu {
	position:fixed;
	right:-160px;
	top:72px;
	width:230px;
	height:100%;
	overflow:auto;
	background:#1d2939;
	color:white;
	z-index:50;
	transition:left .5s ease;
	-webkit-transition:left .5s ease;
	-moz-transition:left .5s ease;
	-ms-transition:left .5s ease;
	-o-transition:left .5s ease;
}
.menu ul {
	}.menu ul li {
	position:relative;
	cursor:pointer;
	width:100%;
	overflow:hidden;
	height:46px;
	line-height:46px;
	text-align:left;
	border-bottom:1px solid #17232c;
}
.menu ul li:first-child {
	font-size:14px;
	color:#999;
	border-left:2px solid #6cc2ed;
	padding-left:10px;
}
.menu ul li:hover:first-child {
	background:inherit;
}
/*.menu ul li:hover {
	background:#6cc2ed;
}
*/ /* .menu ul li:hover span:first-child {
	border-right:1px solid #5cb7e0;
}
*/ .menu ul li:first-child:before {
	display:none;
}
.menu ul li:before {
	content:'';
	background:#6cc2ed;
	background:none\0;
	position:absolute;
	top:0;
	transition:all 0.5s ease;
	transform:translate(-230px,0);
	-moz-transform:translate(-230px,0);
	-o-transform:translate(-230px,0);
	-webkit-transform:translate(-230px,0);
	background:none\0;
	width:230px;
	height:46px;
	z-index:-1
}
.menu ul li.hover:before{

}
.menu ul li:hover:before,.menu ul li.hover:before  {
	transform:translate(0,0);
	-webkit-transform:translate(0,0);
	-o-transform:translate(0,0);
	-moz-transform:translate(0,0);
	-ms-transform:translate(0,0);
	background:#6cc2ed\9;
}
.menu ul li a {
	width:100%;
	height:100%;
	color:white;
	display:inline-block;
	position:relative;
	z-index:3;
}
.menu ul li span:first-child {
	border-right:1px solid #17232c;
	margin-right:10px;
	display:inline-block;
	width:70px;
	text-align:center;
	transition:color .4s ease;
	-webkit-transition:color .4s ease;
	-moz-transition:color .4s ease;
	-ms-transition:color .4s ease;
	-o-transition:color .4s e
}
.menu ul li span {
	text-align:center;
	display:inline-block;
}
.menu ul li span i {
	font-size:1em;
}
/*公用样式*/ .wrap {
	width:100%;
	display:block;
	padding-right:80px;
	position:relative;
	overflow:hidden;
}
.container {
	position:relative;
	border-radius:4px;
	background:#ffffff;
	color:#014f96;
	width: 1170px;
	/*width:97%;*/
	margin-top:20px;
	overflow:auto;
	border-radius: 4px;
}

.container .content {
	width:100%;
	padding:10px 0;
	color:#014f96;
}

.container .but input{
	/*width: 82px;*/
	padding: 0 10px;
	height: 35px;
	background-color: #f5a100;
	color: white;
	border-radius: 5px;
	margin-top: 15px;
	border: 0;
}

.container #llever tr td:nth-child(2){
    font-size:14px;
    width:58px;
}

.container table tr:first-child td{
	/*
	color: black;
	font-size: 18px;
	*/
	color: #666666;
    font-size: 17px;
    font-weight: 600;
}

.container table td{
	width: 70px;
	width: auto\0;
    height: 48px;
}

.table-one tr{
	width: 100%;
	height: 40px;
}

.table-one td{
	display: inline-block;
	float: left;
	margin-right: 56px;
	margin-top: 8px;
	color: black;
}

.table-one td span{
	color: #0588ce;
}

.table-two td{
	width: 114px;
	height: 50px;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	border:solid #b1b0b0 1px; border-width:1px 1px 1px 0px;
}

.table-two tr{
	color: #1c1c1c;
	text-shadow:#a8a8a8 0 0 1px;
}

.table-two tr:nth-child(even),
.table-two tr:nth-child(3){
	background-color: #f0f0f0;
}

.table-two tr:nth-child(6){
	background-color: white;
}

.zhe,.zhan{
	width: 83px;
	height: 35px;
	background-color: #f5a100;
	border-radius:3px;
	color: white;
	text-align: center;
	line-height: 35px;
	float: right;
	margin:6px auto; 
}

.container .content input,.enter_info .info_name input {
	border-radius:3px;
	/*border:2px solid #0588ce;*/
	line-height:28px;
	text-align:center;
	padding:0 10px;
	margin:0;
	/*height:30px;*/ /**为财务系统中 客户名称查询的行距中**/
	/*line-height: 30px;*/
}
.finaright .bornone{
	height:30px;
	line-height: 30px;
}
.container .content .btn-info{outline: none;margin-left: 8px;}
.container .content .btn-info.button{
	width: 140px;
	display: inline-block;
	height: 27px;
	line-height: 27px;
	height: 30px\9;
	line-height: 30px\9;
	/* margin-top: 5px; */
	position: relative;
	top: 3px;
	top:1px\9;
	border-radius: 3px;
	cursor: pointer;
}
/*
.container .content tr td:first-child input{
    width: 47px;
}

.container .content tr td:last-child input{
	width: 80px;
	height: 35px;
	background-color:#f5a100;
	border: 2px solid #f5a100;
	margin-right: 10px;
}
*/
.form-control {
	width:105px;
	padding: 0 12px;
	line-height: 36px;
	display:inline-block;
}
.container .content .date {
	background:#6cc2ed;
	color:white;
	padding:8px 20px 5px 20px;
	border-radius:4px;
}
.container .content p.text {
	display:block;
	width:806px;
	margin:0 auto;
}
.container .content p.text input[type='text'] {
	color:#014f96;
	width:600px;
	border-radius:4px;
}
.container .content .date .btn-default {
	padding:0px 16px;
	display:inline-block;
	vertical-align:top;
	padding-top:2px;
}
.border {
	border:1px solid #6cc2ed;
	border-radius:4px;
}
.bornone {
	border:none;
	border-radius:4px;
	padding:0px 8px;
	text-align:center;
}
.shadow {
	box-shadow:0px 0px 10px #01589c
}
a.back_top {
	position:fixed;
	bottom:60px;
	right:-80px;
	border-radius:10px;
	font-size:30px;
	text-align:center;
	line-height:38px;
	display:block;
	color:#6cc2ed;
	width:40px;
	height:40px;
	display:block;
	background:black;
	opacity:0.5;
}
/*选项卡*/ .finaceCard-menu {
	float:left;
	width:100%;
	height:40px;
	/*border-bottom:1px solid #6cc2ed;
	*/ color:#6cc2ed;
	line-height:40px;
}

#finaceCard li {
	border:1px solid rgb(173,173,173)
}
#fadetab li {
	border-left:1px solid #6cc2ed;
	border-right:1px solid #6cc2ed;
	border-top:1px solid #6cc2ed;
}
.tabbtn li {
	float:left;
	position:relative;
	width:200px;
	letter-spacing:2px;
	text-align:center;
	border-bottom:1px solid #e5e5e5;
	border-left:1px solid #e5e5e5;
}
.tabbtn li:nth-of-type(1) {
	border-left:none;
}
#fadetab li:hover {
	color:#6cc2ed
}
.tabbtn li a {
	color:#333333;
}
.tabbtn li.current {
	font-weight:bold;
	letter-spacing:2px;
	border-left:solid 1px #6cc2ed!important;
	border-right:1px solid #6cc2ed!important;
	border-top:solid 2px #6cc2ed!important;
	color:#6cc2ed;
	background-color:white;
}
.tabbtn li.current a {
	color:#e33019;
}
.finaceCard-menu li {
	cursor:pointer;
}
/*讲师*/ /*主页*/ .Teacher_index .Tea_list {
	border:1px solid #52a9f9;
	margin:10px 0;
	font-size:1.1em;
	border-radius:4px;
	color:#014f96;
	padding:0px 20px;
}
.Teacher_index .Tea_list p {
	height:40px;
	line-height:40px;
}
.Teacher_index .Tea_list span {
	width:24%;
	text-align:center;
	display:inline-block;
}
.Teacher_index #student input[type='text'] {
	width:60px;
	height:26px;
}
.Teacher_index #student tr {
	width:100%;
	height:34px;
}
.Teacher_index #student tr td.save_info {
	position:relative;
	width:200px;
}
.Teacher_index #student tr td.save_info input[type='text'],.Teacher_index #student tr td.save_info span {
	width:120px;
	overflow:hidden;
	display:block;
	height:26px;
}
.Teacher_index #student tr td.save_info input[type='button'] {
	position:absolute;
	left:130px;
	top:3px;
	color:white;
	border:none;
	font-size:14px;
	background:#245580;
	line-height:24px;
	padding:0px 5px;
	
}
/*.Teacher_index #student tr td.save_info #title {
	position:absolute;
	left:0;
	top:30px;
}
*/ .Teacher_index #student .btn-info {
	border-radius:4px;
	border:none;
	padding:2px 5px;
}
/*个人中心*/ .container .Teacher_info,.container .Student_add,.container .Teacher_add {
	color:#279eda;
}
.container .Teacher_info tr,.container .Student_add tr,.container .Teacher_add tr {
	width:100%;
	height:50px;
	/*line-height:46px;
	*/
}
.container .Teacher_info tr td:first-child {
	text-align:right;
	padding:0 50px;
}
/*添加教师*/ .container .Teacher_add tr td:first-child {
	text-align:right;
	padding:0 40px;
}
/*添加学生*/ .container .Student_add tr td:first-child {
	text-align:right;
	padding:0 40px;
}
.container .Student_add select.name {
	margin-left:0px!important;
	width:155px!important;
}
.container .Student_add select.form-control {
	width:80px;
	padding:2px 12px;
	height:30px;
	margin-left:10px;
}
/*讲师业绩*/ .Teacher_achievement {
	}.Teacher_achievement tr,.enterprise_set tr {
	height:46px;
}
/*企业-账号-财务*/ .table_nav {
	width:60%;
}
.table_nav li {
	width:120px;
	display:inline-block;
	text-align:center;
	padding:5px 10px;
	border-radius:4px;
}
.set_info {
	position:absolute;
	top:20px;
	right:10%;
	display:block;
}
.set_info .btn-info,.Task_cont p .btn-info,.btnInfo {
	width:120px;
	display:inline-block;
	text-align:center;
	margin:auto;
	padding:4px 10px;
	border-radius:4px;
}
.NewTable, .TaskTable {
	z-index:101;
	position:absolute;
	position:absolute\9;
	top:0;
	left:0;
	width:100%;

}
.TaskTablecount {
	width:80%;
	max-width:1000px;
	border-radius:4px;
	overflow-x:hidden;
	display:block;
	margin:50px auto;
	background:#fff;
	position:relative;
	z-index: 101;
}
.TaskTablecount .Task_header {
	position:absolute;
	top:0;
	left:0;
	height:40px;
	background:#0588CE;
	width:100%;
}
.TaskTablecount .Task_header h3 {
	text-align:center;
	color:white;
	height:40px;
	line-height:40px;
}
.Task_cont {
	width:100%;
	display:block;
	/*max-height:450px;*/
	min-height:400px;
	overflow:auto;
}
.Task_cont p:first-child input{
	/*width: 345px;*/
}
.Task_cont p span {
	width:45%;
	padding-right:10px;
	text-align:right;
	display:inline-block;
	height:40px;
	line-height:40px;
}
.Task_cont p .form-control {
	width:auto;
}
i.close_task {
	cursor:pointer;
	position:absolute;
	right:20px;
	top:10px;
	font-size:20px;
	color:white;
}
.Task_cont p .btn-info {
	margin:20px auto;
	display:block;
}
i.close_task:hover {
	color:red;
}
.enterprise_set tr td,.account_manage tr td {
	position:relative;
}
.enterprise_set tr .posafterBtn,.account_manage .posafterBtn {
	display:block;
	position:absolute;
	top:8px;
	left:190px;
	padding:0px 5px;
	background:#245580;
	color:white;
	text-align:center;
}
.enterprise_set .btn-info,.enterprise_set .btn-danger,.account_manage .btn-info,.account_manage .btn-danger,.enter_info .info_name span input[type='button'] {
	padding:0px 14px;
	border:none;
}
/*企业账号管理 account management*/ .account_manage tr {
	height:58px;
}
.account_manage tr input[type="text"],.account_manage tr input[type="password"] {
	width: 120px;
}
.account_manage .posafterBtn {
	left:130px;
}
.btn-success {
	padding-top:5px;
	padding-bottom:5px;
	margin-top:20px;
}
/*企业信息*/ .enter_info .info_name {
	padding:0 30px;
}
.enter_info .info_name p,.enter_info .info_name span {
	height:40px;
	line-height:40px;
}
.enter_info .info_name span {
	width:45%;
	display:inline-block;
	line-height:26px;
}
.enter_info .info_name span input {
	margin:0 5px;
}
.enter_table select.form-control {
	width:84px;
	height:34px;
	line-height:34px;
}
.enter_table select.js {
	width:120px;
	height:34px;
	line-height:34px;
}
.enter_table input {
	max-width:120px;
}
.enter_table input.num_set {
	width:50px;
}
.enter_table tr {
	height:40px;
	line-height:40px;
}
.enter_table tr td {
	position:relative;
}
.cver {
	width:180px;
}
.enter_table tr td a,.a_input {
	position:absolute;
	top:10px;
	left:130px;
	font-size:14px;
	width:40px;
	height:24px;
	border-radius:4px;
	color:white;
	background:#245580;
	display:block;
	line-height:24px!important;
	text-align:center;
}
.enter_table input.btn-info {
	padding:0 5px;
	font-size:14px;
}
.sign {
	width:100%;
	border-bottom:2px solid #6cc2ed;
}
.menu_botton {
	width:100%;
	margin:10px 0;
}
.menu_botton input.btn-info {
	padding:6px 20px;
	margin-right:20px;
}

/** 业绩排行榜**/
.table-border{border:2px solid #0082cb;}
.table-border tr td{ text-align: center; color:#7c7575;}
.table-border tr td input[type=button]{ background: #f5a100; padding: 0 10px; border:none; color:#fff; font-size: 16px;outline: none;}
.Modinfo {
	margin-left: 1%;
	padding: 0;
	margin-right: 1%;
    margin: 20px 0;
    /*padding: 0 13px;*/
    overflow: hidden;
    max-width: 100%;
    float: left;
    /*height: 42px;*/
    line-height: 20px;
    border: 1px solid #0588ce;
    border-radius: 3px;
	width: auto;
	margin-left: 1%;
	/*padding: 2px 0;*/
}
.Modinfo > span{ float:left; line-height:40px; padding: 0 7px; }
.Modinfo > span:nth-child(2){font-size: 20px;color: black;}
.Modinfo select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 42px;
    padding: 5px 0;
    border: none;
	border-radius:0;
    color: #0588ce;
    border-left: 1px solid #0588ce;
    border-right: 1px solid #0588ce;
    float: left;
    text-align: center;
    padding: 2px 6px;
	padding: 2px 0px 2px 15px\0;
    font-size: 16px;
    margin: 0 8px;
    /*width: auto;*/
	background: url(../images/v1.png) no-repeat right center;
	background: none\0;
	padding:8px 0\9;
}
body .warp .bottom-left .button-sen,body .warp .bottom-left .button-las
{
	height:30px;
	padding: 0 5px;
	margin:0;
	margin-top: 5px;
	margin-left: 5px;
    background: none;
}
.warp .bottom-left .button-sen.buttonclick{
	background-color: #0588ce;
	color: #fff;
	border-radius: 3px;
}
.goina{ color:#0588ce; text-decoration: none;}
.Modinfo > span.searcinput{    border-left: 1px solid #0588ce;    border-right: 1px solid #0588ce; /*padding:  0 10px;*/ line-height:0; height: 42px; border-left:0;}
.searcinput input{border:none; width:155px;height:40px;text-align: left;line-height: 40px;outline: none;/*margin-left: 10px;*/}
/*.searcinput input:first-child{margin-left: 79px;}*/
.searcinput input.btn-default{ width:30px; height:40px;/*margin-right:79px;*/ background: url(../images/bigjing_03.png) no-repeat center;}
.searcinput input.btn-default:hover{}
.ctitle{ padding-top: 15px; color:#464646;font-size: 20px;margin-left: 8px;}
.Task_cont p .btn-info.btndaqu{
	display: inline-block;
	padding: 2px 0;
	position: relative;
	top: -5px;
	left: 5px;
}
#lsor{height:40px\9;line-height: 40px\9; }
.idimgs{width:100%;}
@media (min-width:1000px) and (max-width:1200px) {
	body {
	    font-size:14px;
		/*background: #f00;*/
    }
}
@media (max-width:1400px) {
	.header input, .header .button{font-size:14px;    }
	.header span{right: 37px;}
	.header span em{left: 12px;}
	.con-top-3{    width: 42%;}
	.container{ width: 97%;}
	/*.Modinfo{width:1030px;}*/
	/*.Modinfo > span{ border-bottom: 1px solid #0588ce;}*/
}
@media (max-width:1000px) {
	/*.header input, .header .button{font-size:12px;min-width: initial;}*/
	.indeximage .image1{top:200px; margin-top:0;}
	.Modinfo{height:auto;width: auto;}
    /*
	.Modinfo > span {
		float: left;
		line-height: 40px;
		 margin: 0;
		display: block;
		width: 100%;
		height: 40px;
		border-bottom: 1px solid #0588ce;
		text-align: center;
		overflow: hidden;
	}
    */
	.con-top-3{    width: 100%;}
	.header{height:auto;}
	.headernav{
		margin-top: 72px;
		/*text-align: center;*/
		/*border: 1px solid #000;*/
		overflow: hidden;
		margin-bottom: 10px;
		margin-left:60px;
	}
	.top{ height:128px;background: #0588CE;}
	.menu{top:128px;}
	#ord0{width: 50px;}
}


/**处理IE兼容问题**/
body{

}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
	width: 4px;
	height: 15px;
	background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #929292;
}
.headernav input,.headernav button{min-width: 95px}
body.minwidth .header input, .header .button{/*font-size:14px;*/    }
body.minwidth .header span{font-size:12px;right: 37px;}
body.minwidth .header span em{left: 12px;}
body.minwidth .con-top-3{    width: 100%;}
body.minwidth .container{ width: 97%;}
body.minwidth .header input, .header .button{/*font-size:12px;min-width: initial;*/}
body.minwidth .indeximage .image1{top:200px; margin-top:0;}
body.minwidth .Modinfo{height:auto;}
body.minwidth .Modinfo > span {
	float: left;
	line-height: 40px;
	margin: 0;
	display: block;
	/*width: 100%;*/
	height: 40px;
	/*border-bottom: 1px solid #0588ce;*/
	text-align: center;
	overflow: hidden;
}
/*
body .Modinfo > span.span1{width:50%}
body .Modinfo > span.span2{width:50%}
body .Modinfo > span.span3{width:70%;}
body .Modinfo > span.span4{width:30%;}
*/
body.minwidth .header{height:auto;}
body.minwidth .top{ height:128px;}
body.minwidth .menu{top:128px;}
body.minwidth #ord0{width: 50px;}
#timemonth,#timeday,#datayear,#day{width:86px;}
body.minwidth .headernav{
	margin-top: 72px;
	overflow: hidden;
	margin-bottom: 10px;
	margin-left:60px;
}
.Modinfo > span,.Modinfo  span.searcinput1{
	/*border: 1px solid #0588ce;*/
	/*border-bottom: 1px solid #0588ce;*/
	/*border-left: 0;*/
}
.Modinfo select:hover{ background: #0588ce url(../images/v1.png) no-repeat right center; color:#fff; background: none\0; color:#000\0;}
.Modinfo select:hover option{ background: #fff; color:#0588ce; background: none\0; color:#000\0;}
.Modinfo select#s1{width: 180px;}
.imgs{ text-align: center; line-height: 200px; color:#ccc; cursor: pointer;}
#file{    display: none;}
.table-border tr td input[type=button].deltebtn,.table-border tr td input[type=button].alldelete{background: #e33109;}
.table-border tr td input[type=button].huankuanbtn{background: #0588ce;}
.table-border tr td input[type=button].editbtn{background: #0588ce;}

.comdiv{ width:230px; height:232px;  position: absolute;    right: 250px;top: 200px;background: url("../images/search_07.png") no-repeat center;  -webkit-animation: zoomInDown 1s .4s ease both;}
.comdiv div{ width:102px; height:102px; position:absolute;left:50%; top:50%; margin-top: -51px; margin-left: -51px;}
.comdiv div.img1{ -webkit-animation:img1 1s 1.4s ease both; background: url("../images/search_03.png") no-repeat center;}
.comdiv div.img2{-webkit-animation: img2 1s 1.4s ease both;background: url("../images/search_13.png") no-repeat center;}
.comdiv div.img3{-webkit-animation: img3 1s 1.4s ease both;background: url("../images/search_10.png") no-repeat center;}

/**讲师追踪**/

.htmldiv{
	float: left;
	width: 100%;
}
.Modinfo input.btn-default1{
	width: 100px;
    height: 40px;
    margin: 0 20px 0 10px;
    background: url(../images/bigjing_03.png) no-repeat right center;
    border: none;
    color: #0588ce;
    font-size: 16px;
}
.yixianjiangshi{width: 1202px; margin: 0 auto; min-height: 500px;     height: calc(100vh - 200px); background: #fff; overflow: hidden; overflow-y: auto;margin-top: 28px; padding: 5px;}
#htmlindex,#htmlindex > tbody{ width:98%;}
.htmlmessage{ height:300px; line-height: 300px; text-align: center;color: #A7A7A0;}
#htmlindex > tbody > tr > td{ font-size: 18px;}
#htmlindex > tbody > tr > td .blurcolor{ color:#0588ce;}
.tableshowlist{ width:100%;border:3px solid #0588ce; margin-bottom: 10px;}
.tableshowlist .tabletr{font-size: 14px;}
#setcostpage{ overflow: hidden;}
#neihtml>tbody>tr>td{ color:#6D6363;    border: 1px solid #DEDEDE;    cursor: pointer;}
#neihtml>tbody>tr.sas>td{ background: #E3FBF5;}
#neihtml >tbody> tr:nth-of-type(1) >td{ color:#000;}
.tableshowlist tr > td{border:1px solid #b1b0b0; text-align: center; height: 40px;}
.tableshowlist tr:first-child{ background: #f0f0f0;}
#foorwww{width: 100%;overflow: hidden;padding: 5px 0;margin: 15px 0;}
#foorwww span{display: block;}
#myxiangqing .table tr td{ border-bottom:1px solid #ddd;}
#myxiangqing .table tr td:first-child{     width: 93px;  }
.yf1{ color:#afaeab;font-size: 14px;}
.yf2{ color:#15906A; font-size: 14px;}
.yf3{ color:#f5a100;font-size: 14px;}
.tablefirst{ width:100%}
.tablefirst tr td{ border:none;}

#foorwww p{
	display: block;
    float: left;
    margin: 5px 10px 0 20px;}
#foorwww #foor{
	float: left;
    width: 9%;
    height: 30px;
    background-color: #0588ce;
    border-radius: 5px 0 0 5px;
    text-align: center;
    line-height: 30px;
    color: white;
    margin-left:1%;}
#foorwww input{
	float: left;
	height: 30px;
    padding: 0 5px;
    margin: 0;
    background: none;
    border: none;
}
#foorwww img{
	float: left;
    margin: 6px 1% 0 1%;;
}

/*input[type=button].acss*/
@-webkit-keyframes img1 {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
		top: -57px;
	}
}
@-webkit-keyframes img2 {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;

		left: -97px;
	}
}
@-webkit-keyframes img3 {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;

		left: 312px;
	}
}

@-webkit-keyframes zoomInDown {
    0% {
        opacity:0;
        -webkit-transform:scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function:cubic-bezier(0.550, 0.055, 0.675, 0.190)
    }
    60% {
        opacity:1;
        -webkit-transform:scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1)
    }
}

.textno{
	text-align: center;
	color: #999;
	line-height: 50px;
	border-top: 2px solid #0588CE;
}
.pnumstyle{ background:#DCDBDB;}
.TaskTablecount.neirong .Task_header{ position: static;}
.Task_cont.widthnum{ width:80%; margin: 0px auto; line-height: 35px; text-align: center; min-height:inherit;}
.Task_cont.widthnum p .btn-info{ padding: 0;}
.widthnum #remain{ width:50px; height:25px; line-height: 25px;}
#hi{ overflow: hidden;}
.kehukecheng .Modinfo select{     padding-right: 44px;}
.kehukecheng .Modinfo input.btn-default1{    padding-right: 118px;}

.indextable{

	line-height: 35px;
	font-size: 18px;
	width:98%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.indextable > tbody > tr > td .blurcolor {
	color: #0588ce;
}
.kehukecheng #data > table{        border: 2px solid #0588ce;	border-collapse: collapse;}
.kehukecheng #data > table tr:first-child {
	background: #f0f0f0;
}
.kehukecheng #data > table tr td{    border: 1px solid #b1b0b0;text-align: center;height: 40px;}
.kehukecheng .xiangqing{
	width: 65px;
	height: 25px;
	background: #f7a100;
	border-radius: 3px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 25px;
	border: none;
}
#myModalxq .modal-dialog{ width:638px;}
#myModalxq .modal-dialog table tr td{ border: 1px solid #b1b0b0;}
.marginrightwt{margin-right: 72px;}
#myModalmove .tcdPageCode{ width:100%; text-align: right; padding: 0;}