 
  <script type="text/javascript" src="__PUBLIC__/js/table-common.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/ajaxfileupload.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/myslideup.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/jquery.upload.js"></script>
  
  
  
  <div class="yui-foottext">
    <p><span>© 2016-2017 Qihang Education All Right Reserved</span>
        <span style="margin-left: 1%">版权所有：中国企航</span>
      </p>
   </div>              