<include file="Public/header" />
<body>

<div class="modal fade tianjiacss in" id="myModalmove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content" style="width:auto;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">讲师名称</h4>
            </div>
            <div class="modal-body">

				<div class="table123" style="height:300px; overflow-y:auto; padding-right: 2px; margin-top: 5px; ">
					<div class="tjform">
						<input type="text" id="yy" style="width: 75%;"><input type="button" onclick="sseach()" value="搜索">
					</div>
		            <table class="table table-striped table-hover table-bordered search_header_list widthfull" id="neihtml" style=""><tbody><tr><td>讲师名称</td></tr></tbody></table>
					
	            </div>
				<div id ='setcostpage'></div>
	            <div class="tablebtn"><input type="button" onclick="btnmove('23,')" value="确定" id="savebtnmove"><input type="button" onclick="btnnext()" value="确定" id="nextbtnmove" style="margin-top:10px;"></div>
            </div>
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<div class="modal fade tianjiacss in" id="myxiangqing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content" style="width:auto;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">订单详情</h4>
			</div>
			<div class="modal-body">


			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<div class="yixianjiangshi">

<div class="Modinfo date" style=" /*margin-left: 0;*/ width:98%;"><span>
                 <select name="" id="s1" onchange="enterprise()"  <if condition="$uid neq '0' "> disabled="disabled"</if>>

                   <option value="0">选择分公司</option>
					 <foreach name="enterprise" item="vo">
						   <if condition="$vo.id eq $uid">
                            <option value="{$vo.id}" selected>{$vo.Qyname}</option>
							<else />
							   <option value="{$vo.id}" >{$vo.Qyname}</option>
						   </if>
					 </foreach>
                 </select>
	          
                 <select id="timeyear" class="form-control" onchange="checkChangDate(this)"></select>
                 <select id="timemonth" class="form-control" onchange="checkChangDate(this,1)"></select>
                 <select id="timeday" class="form-control" onchange="checkChangDate(this)"></select>
             </span> <span>至</span> 
                 <span>
                  <select id="beforeyea" class="form-control" onchange="checkChangDate(this)"></select>
                  <select id="datayear" class="form-control" onchange="checkChangDate(this,2)"></select>
                  <select id="day" class="form-control" onchange="checkChangDate(this)"></select>
                       </span>
                 <span class="searcinput1" style="border-left: 1px solid #038ace;border-right: 1px solid #038ace;margin-right: 15px;">
             	
             	   <input type="button" class="btn-default1" onclick="searove()" value="讲师搜索"  data-toggle="modal" data-target="#myModalmove">

                 
                 </span>
                 
 </div>

<div class="htmldiv">
<div class="htmlmessage">您需要精确条件查询讲师</div>
<table  id="htmlindex">


</table>
<div id="foorwww"></div>
 





</div>
</div>
<script>
function enterprise(){
	var id=$("#s1").val();
	$.ajax({
		url:"__URL__/getTeach",
		type:"post",
		dataType:"json",
		data:{id:id},
		success:function(data){
            str="<option value=\"0\">选择分讲师</option>";
			for(var i in data){
                 str+="<option value='"+data[i]["id"]+"'>"+data[i]["name"]+"</option>";
			}
            $("#teacher").html(str);
		}
	});
}





var data = {};
var table = {};
var myDate = new Date();
var m = myDate.getMonth()+1;
var lnstr ="";
var lyst ="";
var lrstr ="";

var tnst ="";
var tystr ="";
var trst ="";

var y = new Date().getFullYear(); //当前年份

$(document).ready(function($){



	var myDate1 = new Date();
	var m1 = myDate1.getMonth()+1;

	
	$('.loding').css('display','block');
    for (var i = (y-2); i < (y+1); i++) {
        if(i==y){
            lnstr+="<option selected='selected' value='"+i+"'>"+i+"年</option>";
        }else{  
            lnstr += '<option value="'+i+'">'+i+'年</option>';
        }
        if(i==y){
            tnst+="<option selected='selected' value='"+i+"'>"+i+"年</option>";
        }else{  
            tnst+="<option  value='"+i+"'>"+i+"年</option>";
        }
    }
    $('#timeyear').append(lnstr); //前两年年份
    $('#beforeyea').append(tnst); //今年年份

/********************************年份赋值****************************************/

    for (var i = 1; i < 13; i++)  
    {  
        if(i==m1){
            lyst+="<option selected='selected' value='"+i+"'>"+i+"月</option>";
        }else{
            lyst += "<option value='" + i + "'> " + i + "月</option>";
        } 
        if(i==m1){
            tystr+="<option selected='selected' value='"+i+"'>"+i+"月</option>";
        }else{
            tystr+="<option  value='"+i+"'>"+i+"月</option>";
        } 
    }  
    $('#timemonth').append(lyst); //前两年月份
    $('#datayear').append(tystr); //今年月份

/********************************月份赋值****************************************/

    for (var i = 1; i <= 31; i++)  
    {  
        lrstr += "<option value='" + i + "'> " + i + "日</option>"; 

        if(i==myDate.getDate()){
            trst+="<option selected='selected' value='"+i+"'>"+i+"日</option>";
        }else{
            trst+="<option  value='"+i+"'>"+i+"日</option>";
        } 
    }  

    $('#timeday').append(lrstr); //前两年月份
    $('#day').append(trst); //今年月份

/********************************天数赋值****************************************/

   infinc();
   $('.loding').hide();

});
function dateacount()
{
	var w2 = $('#timemonth').val();
	var w1 = $('#datayear').val();

    var day=new Date();

	var ww2 = "";
	var ww1 = "";
	if(w2 == 2)
	{
		for(var i =1; i<=28;i++)
		{
			ww2 +='<option value="'+i+'">'+i+'日</option>';
		}
		$('#timeday').html(ww2);
	}
	if(w1 == 2)
	{
		for(var i =1; i<=28;i++)
		{
            if(i==day.getDate()){
                ww1 +='<option value="'+i+'" selected>'+i+'日</option>';
            }else{
                ww1 +='<option value="'+i+'">'+i+'日</option>';
            }
			
		}
		$('#day').html(ww1);
	}
}
function getDays(year,mouth){

    //定义当月的天数；
    var days ;
     
    //当月份为二月时，根据闰年还是非闰年判断天数
    if(mouth == 2){
        days= year % 4 == 0 ? 29 : 28;
         
    }
    else if(mouth == 1 || mouth == 3 || mouth == 5 || mouth == 7 || mouth == 8 || mouth == 10 || mouth == 12){
        //月份为：1,3,5,7,8,10,12 时，为大月.则天数为31；
        days= 31;
    }
    else{
        //其他月份，天数为：30.
        days= 30;   
    }
    return days;
}

function checkChangDate(obj,act){
    var myDate = new Date();
    var year = myDate.getFullYear();
    var lrstrs = '';
    var trsts = '';
    var timeyear = $('#timeyear').val();//左侧年

    var timemonth = $("#timemonth").val();//左侧月 

    var timeday = $("#timeday").val();//左侧日

    var beforeyea = $("#beforeyea").val();//右侧年

    var datayear = $('#datayear').val();//右侧月

    var day = $('#day').val();//右侧日

    if(act == 1){
        var mm = getDays(timeyear,timemonth);    //当左侧月改变时执行
        
    }else if(act == 2){
        var mm = getDays(beforeyea,datayear);    //当右侧月改变时执行
    }

    for (var i = 1 ; i <= mm ; i++)  
    {  
        if(act == 1){   
            lrstrs += "<option value='" + i + "'> " + i + "日</option>"; 
        }else if(act == 2){
            if(i==myDate.getDate()){
                trsts+="<option selected='selected' value='"+i+"'>"+i+"日</option>";
            }else{
                trsts+="<option  value='"+i+"'>"+i+"日</option>";
            } 
        }
    } 
    
    if(act == 1){
        $('#timeday').html(lrstrs); //左侧变化的天数
    }else if(act == 2){
        $('#day').empty();
        $('#day').append(trsts); //右侧变化的天数
    }
    
}

function infinc(tid,ktime,jtime)
{	


    $(document.body).attr("tid",tid);
	var jid=$("#teacher").val();
	var ktime = $('#timeyear').val()+'-'+$('#timemonth').val()+'-'+$('#timeday').val();
	var jtime = $('#beforeyea').val()+'-'+$('#datayear').val()+'-'+$('#day').val();

    var param=new Object();
	param["tid"]=tid;
	param["ktime"]=ktime;
	param["jtime"]=jtime;
	
	param["jid"]=jid;
    $(".loding").show();
	$.post("{:U('Home/Leunfold/infinc')}",param,function(t)
			{

				str = "";
				if(t.error==1){

				}else{
					$(".htmlmessage").hide();
					pagecount = t.count;
					finatype = t.finatype;
					t = t.user;

					for(i in t)
					{
						if(t[i].wf == undefined )
						{
							t[i].wf = 0;
						}

						if(t[i].yf == undefined )
						{
							t[i].yf = 0;
						}
						if(t[i].zmoney == undefined )
						{
							t[i].zmoney = 0;
						}
						if(t[i].zmoneypr == undefined )
						{
							t[i].zmoneypr = 0;
						}

						str+="<tr style=\"margin-bottom:10px;line-height: 35px;\">";
						if(finatype==1) {
							str += "<td style=\"width:2%;\"><input type='checkbox' onclick=quanxx(this)  /></td>";
						}
						str+="<td style=\"width:10%;\"><span class='blurcolor'>"+t[i].name+"</span></td><td style=\"width:17%;\">联系电话:<span class='blurcolor'>"+t[i].mobile+"</span></td><td style=\"width:14%;\">业绩:<span class='blurcolor'>"+t[i]["zmoney"]+"元</span></td><td style=\"width:14%;\">提成:<span class='blurcolor'>"+t[i]["zmoneypr"]+"元</span></td><td style=\"width:14%;\">已发:<span class='blurcolor'>"+t[i].yf+"元</span></td><td style=\"width:14%;\">未发:<span class='blurcolor'>"+t[i].wf+"元</span></tr>";

						str+="<tr id='show"+t[i].id+"'>"+scfuinshow(t[i].zkyoushow,finatype)+"</tr>";

					}

					if(finatype==1) {
						$('#foorwww').html('<span id ="foor">已选(0)</span><p>更改状态:</p><span><input type="button" onclick=wcz(1) value="未出账"><img src="__PUBLIC__/images/login-image/shu.jpg" alt=""><input type="button" onclick=wcz(2) value="已出账"><img src="__PUBLIC__/images/login-image/shu.jpg" alt=""><input type="button" onclick=wcz(3) value="已发"><img src="__PUBLIC__/images/login-image/shu.jpg" alt=""></span>')
					}


					$('#htmlindex').html(str);
					$(".loding").hide();
				}
			},'json')
	
}

function fmoney(s, n)
{
	if(s==null){
		return 0;
	}
	n = n > 0 && n <= 20 ? n : 2;
	s = parseFloat((s + "").replace(/[^\d\.-]/g, "")).toFixed(n) + "";
	var l = s.split(".")[0].split("").reverse(),
			r = s.split(".")[1];
	t = "";
	if(s.length<=7){
		return s;
	}


	for(i = 0; i < l.length; i ++ )
	{
		t += l[i] + ((i + 1) % 3 == 0 && (i + 1) != l.length ? "," : "");
	}

	if(s=="NaN"){
		return 0;
	}
	return t.split("").reverse().join("") ;
}
function scfuinshow(t,finatype)
{

	var ini = "<td colspan='8' class='borderblue'>";
	if(t!="") {
		for (i in t) {
			ini += "<table  class='tableshowlist'>";
			var colspan = 6
			if (finatype == 1) {
				colspan = 7
			}
			ini += '<tr style="font-size: 17px;"><td colspan="' + colspan + '"><table class="tablefirst"><tr><td>客户名称：' + t[i].name + '</td><td>' + t[i].tel + '</td><td>课程:' + t[i].classname + '</td><td>分公司:' + t[i].Qyname + '</td><td>成交日期:' + t[i].time + ' <input type="button" data-toggle="modal" data-target="#myxiangqing" onclick="xqing(' + t[i].mid + ')" value="详情" style="width:65px;height:25px;background:#f7a100;border-radius:3px;color: #fff;font-size: 16px;text-align: center;line-height: 25px;border: none;"/></td></tr></table></td></tr>'
			ini += '<tr class="tabletr">';
			if (finatype == 1) {
				ini += '<td></td>';
			}
			ini += '<td>分类</td><td>数量</td><td>金额</td><td>提成比</td><td>提成</td><td>状态</td></tr>'
			if (t[i].ticket != 0 && t[i].ticket != undefined) {

				ini += '<tr class="tabletr">';
				if (finatype == 1) {
					ini += '<td><input type="checkbox"   onclick="unu(this)" nid="1" idy="' + t[i].mid + '"  class="qx assind" /></td>';
				}
				ini += '<td>票</td><td>' + t[i].ticket + '</td><td>' + t[i].ticketmoney + '</td><td>' + t[i].tc + '</td><td>' + t[i].ticketpr + '</td>'
				if (t[i].typet == 2) {
					ini += '<td><span class="yf1">已发</span></td>'
				} else if (t[i].typet == 1) {
					ini += '<td><span class="yf2">已入账</span></td>'
				} else {
					ini += '<td><span class="yf3">未入账</span></td>'
				}

				ini += '</tr>'

			}

			if (t[i].planning != 0 && t[i].planning != undefined) {

				ini += '<tr class="tabletr">';
				if (finatype == 1) {
					ini += '<td><input type="checkbox" onclick="unu(this)"  nid="2" idy="' + t[i].mid + '"    class="qx assind"    /></td>';
				}
				ini += '<td>九大规划门票</td><td>' + t[i].planning + '</td><td>' + t[i].planningmoney + '</td><td>' + t[i].nc + '</td><td>' + t[i].planningpr + '</td>'

				if (t[i].typep == 2) {
					ini += '<td><span class="yf1">已发</span></td>'
				} else if (t[i].typep == 1) {
					ini += '<td><span class="yf2">已入账</span></td>'
				} else {
					ini += '<td><span class="yf3">未入账</span></td>'
				}


				ini += '</tr>'

			}

			if (t[i].card != 0 && t[i].card != undefined) {

				ini += '<tr  class="tabletr">';
				if (finatype == 1) {
					ini += '<td><input type="checkbox" onclick="unu(this)"  nid="3" idy="' + t[i].mid + '"   class="qx assind"  /></td>';
				}
				ini += '<td>卡</td><td>' + t[i].card + '</td><td>' + t[i].cardmoney + '</td><td>' + t[i].cc + '</td><td>' + t[i].cardpr + '</td>'

				if (t[i].typec == 2) {
					ini += '<td><span class="yf1">已发</span></td>'
				} else if (t[i].typec == 1) {
					ini += '<td><span class="yf2">已入账</span></td>'
				} else {
					ini += '<td><span class="yf3">未入账</span></td>'
				}
				ini += '</tr>'

			}

			if (t[i].friends != 0 && t[i].friends != undefined) {

				ini += '<tr class="tabletr">';
				if (finatype == 1) {
					ini += '<td><input type="checkbox" onclick="unu(this)"  nid="4" idy="' + t[i].mid + '"  class="qx assind"  /></td>';
				}
				ini += '<td>朋友圈</td><td>' + t[i].friends + '</td><td>' + t[i].friendsmoney + '</td><td>' + t[i].fc + '</td><td>' + t[i].friendspr + '</td>'

				if (t[i].typef == 2) {
					ini += '<td><span class="yf1">已发</span></td>'
				} else if (t[i].typef == 1) {
					ini += '<td><span class="yf2">已入账</span></td>'
				} else {
					ini += '<td><span class="yf3">未入账</span></td>'
				}
				ini += '</tr>'

			}

			if (t[i].disciple != 0 && t[i].disciple != undefined) {

				ini += '<tr  class="tabletr">';
				if (finatype == 1) {
					ini += '<td><input type="checkbox" onclick="unu(this)"  nid="5" idy="' + t[i].mid + '" class="qx assind" /></td>';
				}
				ini += '<td>弟子</td><td>' + t[i].disciple + '</td><td>' + t[i].disciplemoney + '</td><td>' + t[i].dc + '</td><td>' + t[i].disciplepr + '</td>'

				if (t[i].typed == 2) {
					ini += '<td><span class="yf1">已发</span></td>'
				} else if (t[i].typed == 1) {
					ini += '<td><span class="yf2">已入账</span></td>'
				} else {
					ini += '<td><span class="yf3">未入账</span></td>'
				}
			}
			ini += '</tr></table>'
		}
	}else{
		ini +='<div class="textno">暂无学员数据</div>';
	}
	ini += "</td>";
	return ini;

}


function xqing(orderid){
	 $(".loding").show();
     $.ajax({
		 url:"__URL__/xqing",
		 data:{orderid:orderid},
		 type:"POST",
		 dataType:"json",
		 success:function(data){

			 var str="<table class='table table-bordered table-hover table-striped'>";
			 str+="<tr><td>分公司</td><td>"+data["Qyname"]+"</td></tr>";
			 str+="<tr><td>课程名称</td><td>"+data["classname"]+"</td></tr>";
			 str+="<tr><td>地点</td><td>"+data["place"]+"</td></tr>";
			 str+="<tr><td>讲师</td><td>"+data["jname"]+"</td></tr>";
			 str+="<tr><td>客户名称</td><td>"+data["fname"]+"</td></tr>";
			 str+="<tr><td>人数</td><td>"+data["pnum"]+"</td></tr>";
			 str+="<tr><td>成交时间</td><td>"+data["otime"]+"</td></tr>";
			 str+="<tr><td>成交人</td><td>"+data["sname"]+"</td></tr>";
			 str+="<tr><td>成交信息</td><td>小票("+data["ticket"]+") 九大规划门票("+data["planning"]+") 卡会员("+data["card"]+")  朋友圈("+data["friends"]+") 弟子学员("+data["disciple"]+") </td></tr>";
			 str+="</table>";
			 $("#myxiangqing .modal-body").html(str);
			 $(".loding").hide();
		 }
	 });
}

function searove(p,yy)
{	
	if(p==undefined){
        p = 1;
	}
	$(".loding").show();
	 var ktime = $('#timeyear').val()+'-'+$('#timemonth').val()+'-'+$('#timeday').val();
	 var jtime = $('#beforeyea').val()+'-'+$('#datayear').val()+'-'+$('#day').val();
	 var  s1 = $('#s1').val();
	 $('#neihtml').html('<tbody><tr><td>讲师名称</td></tr></tbody>');
	
	$.post("{:U('Home/Leunfold/neihtml')}",{yy:yy,p:p,ktime:ktime,jtime:jtime,s1:s1},function(t)
		{
			svr = "";
			pagecount = t.count;
			t = t.user;
			
			
			for(i in t)
			{
				
				svr += '<tr onclick="djname(this)" tid="'+t[i].id+'"  ><td>'+t[i].name+'</td></tr>';
				
				
				
			}
			page(p);
			$('#neihtml').append(svr);


			$(".loding").hide();
		},'json')
	
}


function sseach()
{
	var yy = $('#yy').val();
	
	searove(1,yy);
	

	
}

function djname(obj)
{	
	$(obj).addClass('sas').siblings().removeClass("sas");
	
}

function btnnext()
{

	$(".htmlmessage").hide();
	var tid = $('.sas').attr('tid');	
	if(tid == undefined)
	{	
		Showbo.Msg.alert('请选择讲师');
		return false;		
	}

	//$('#myModalmove').css('display','none');
	$("#myModalmove .close").click();
	infinc(tid);
	
}

function page(p) {
 
  $("#setcostpage").html("");
  $("#setcostpage").html('<div class="tcdPageCode" style="margin-top:5px;"></div>');
  $("#setcostpage .tcdPageCode").createPage({
      pageCount:pagecount,
      current:p,
      backFn:function(page){

       
    	  searove(page);
      }
  })
}

function quanxx(obj)
{	
	
	var ar = $(obj).prop('checked');
	
	if(ar == true)
	{
		$('.qx').each(function()
				{
				$(this).prop('checked',true);
					m++;
			
				})
	}else
	{
		$('.qx').each(function()
				{
				$(this).prop('checked',false);
				 m--;
			
				})
	}
	$('#foor').html('已选('+m+')')
	
}
m=0;
function unu(obj,rid)
{
		
	if($(obj).prop('checked') == true)
	{
				m++;
				
	}else
	{
		m--;
	}
		
		
			
	$('#foor').html('已选('+m+')')
}


function wcz(act)
{	
	var nid = "";
	$('.assind').each(function()
	{
		if($(this).prop('checked') == true)
		{
			nid += $(this).attr('idy')+':'+$(this).attr('nid')+',';
		}
	})
	
	$.post("{:U('Home/Leunfold/savebin')}",{nid:nid,act:act},function(data)
			{
				data = data.data;
				if(data == 1)
				{
					
					Showbo.Msg.alert('修改成功');
					var tid=$(document.body).attr("tid");
					infinc(tid);
				}else
				{
					Showbo.Msg.alert('修改失败');
					return false;
				}
		
		
		
			},'json')
}
</script>
</body>
</html>