<include file="Public/header" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.upload.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.tabso_yeso.js"></script>


<body>

	<table>
		

			<tr><th>添加账号</th>
			<td>
			<select name="" id="">

					<option value="2">财务总监</option>
					<option value="3">大区总裁</option>

			</select>
			</td>
			</tr>
			<tr><td>账号:<input type="text"></td><tr>
			<tr><td>密码:<input type="password"></td><tr>
			<tr><td>确认密码:<input type="password"></td><tr>
			<tr><td><input type="button" value="确认"></td><tr>

	</table>
</select>

</body>