<include file="Public/header" />
<style>
	.Task_cont p:first-child input{width:auto;}
	.account_manage tr input[type="text"], .account_manage tr input[type="password"]{text-align: center;}
</style>
<div class="wrap">
     <div class="container"> <!-- 导航↓ -->

<div><input type="button" class="btn btn-success bornone" value="添加大区总裁" onclick="addment()"></div>
<div class="tablerangborder table"><table  style=" margin: 0; padding: 0"  class="table content table-striped account_manage" id="data" >
</table></div>
 <div class="TaskTable" id="pwdshow">
</div>
 <div class="TaskTable" id="addm">
</div>

</div></div>
<script type="text/javascript">
$(function(){
 	lised();
 })
 //列表展示
 function lised(p){
 	$('#data').show();
	$('#data3').hide();
	$('#data2').hide();
 	if(p==undefined){
             p = 1;
             page(p);
  		   }
 	$('.loding').css('display','block');
 	$.ajax({
 		url:'{:U("Home/Setsail/lised")}',
			dataType:'json',
			data:{page:p,type:2},
			type:'post',
			success:function(data){
				
			str = '';
			for(i in data){
				str += '<tr><td><input value="'+data[i].account+'" type="text" id="dbn'+data[i].id+'"><input value="确认" type="button" onclick="savacc('+data[i].id+',1)" class="btn btn-info"></td><td><input id="dname'+data[i].id+'" value="'+data[i].mname+'" type="text"><input type="button" value="确认" onclick="savname('+data[i].id+',1)" class="btn btn-info"></td><td><input type="button" value="修改密码" onclick="savepwd('+data[i].id+',1)" class="btn btn-info"></td><td><input value="删除" type="button" onclick="delacc('+data[i].id+',1)" class="btn btn-info"></td></tr>'
			}

			if(str==""){
				str+="<tr><td colspan='4'><span style='color:#999;'>当前没有大区总监</span></td></tr>";
			}
			$('#data').html(str);
			$('#data tr:even').css("background","#f0f0f0");
			$('#data').prepend('<tr><td>账号</td><td>名称</td><td>修改密码</td><td>操作</td></tr>');
			   
			$('.loding').css('display','none');	
		}

 	})
 }
function addment(){
	var str ='';
	str += '<div class="TaskTablecount"><div class="Task_header" id="newTask"><h3 id="add" act="add">大区总裁添加</h3><i class=" icon-remove close_task" id="close"></i></div><div style=" height:60px; width: 100%;"></div><div class="Task_cont"><p><span>账号:</span><input  class="form-control" type="text" id="acc"></p><p><span>名称:</span><input  class="form-control" type="text" id="name"></p><p><span>密码:</span><input  class="form-control" type="password" id="pwd"></p><p><span>确认密码:</span><input  class="form-control" type="password" id="agpwd"></p><p><button class=" btn-info" type="button"  onclick="addregion()">确定</button></p></div></div>';
	$('#addm').html(str).show();
	$('.masker').fadeIn();
	close_mask();
}
 function savepwd(id,v){
 	var str ='';
	str +=' <div class="TaskTablecount"><div class="Task_header" id="newTask"><h3 id="add" act="add">修改密码</h3><i class=" icon-remove close_task" id="close2" ></i></div><div style=" height:60px; width: 100%;"></div><div  class="Task_cont" id="newPwd"><p><span>请输入旧密码</span><input  class="form-control" type="password" id="oldpwd"></p><p><span>请输入新密码</span><input  class="form-control" type="password" id="newpwd"></p><p><span>再次确认新密码</span><input  class="form-control" type="password" id="townewpwd" /><input type="hidden" id="yid" value="" /></p><p><input type="button" class=" btn-info" onclick="editpwd('+id+','+v+')" value="提交" /></p></div></div>';
	$('#pwdshow').html(str).show();
	$('.masker').fadeIn();
	close_mask();
 }
 function close_mask(){
  $('.close_task').click(function(){
    $('.TaskTable,.masker').fadeOut();
  })
}

//修改各种密码
function editpwd(id,v){
	var oldpwd = $('#oldpwd').val();
	var newpwd = $('#newpwd').val();
	var townewpwd = $('#townewpwd').val();
	if(oldpwd == ""){
		Showbo.Msg.alert('旧密码不能为空,请重新输入');
		return false;
	}if(newpwd == ""){
		Showbo.Msg.alert('新密码不能为空,请重新输入');
		return false;
	}
	if(newpwd != townewpwd){
		Showbo.Msg.alert('两次密码输入不一致,请重新输入');
		return false;
	}
	if(oldpwd == newpwd ){
		Showbo.Msg.alert('新旧密码一致,请重新输入');
		return false;
	}
	if(oldpwd == townewpwd ){
		Showbo.Msg.alert('新旧密码一致,请重新输入');
		return false;
	}
	if(v == 1){
		$.ajax({
 		    url:'{:U("Home/Setsail/editpwd")}',
			dataType:'json',
			data:{oldpwd:oldpwd,newpwd:newpwd,id:id,type:1},
			type:'post',
			success:function(data){
				if(data.errcode == 1){
					Showbo.Msg.alert(data.errmsg);
					$('#pwdshow').hide();
					$('.masker').hide();
					lised();
				}else if(data.errcode == 3){
					Showbo.Msg.alert(data.errmsg);
				}else{
					Showbo.Msg.alert(data.errmsg);
					
				}
			}
		})
	}

	

}

//删除
function delacc(id,v){
	 Showbo.Msg.confirm('确认删除?',function(a){
		 if(a == 'yes'){
	if(v == 1){
		$.ajax({
		url:'{:U("Home/Setsail/delacc1")}',
			dataType:'json',
			data:{id:id,type:1},
			type:'post',
			success:function(data){
				if(data.errcode == 1){
					Showbo.Msg.alert(data.errmsg);
					lised();
				}else{
					Showbo.Msg.alert(data.errmsg);
				}
			}
		})
	}
		 }
	 })
	
}
//分页
function page(page)
{
   var nums ='';
    $.ajax({
	    type: "GET",
	    url:'{:U("Home/Setsail/page2")}',
	    dataType:"json",
	    async:false,
	    error: function(data){
	    },
	    success: function(data){
	           nums = eval(data);
	    	}
	    });

    $(".tcdPageCode").remove();
    $(".tablerangborder").after("<div class='tcdPageCode'></div>");
    $(".tcdPageCode").createPage({
          pageCount:nums,
          current:page,
          backFn:function(p)
          {
            lised(p);
          }
       });
}

//修改企业账号
function savacc(id,v){
	 Showbo.Msg.confirm('确认修改?',function(a){
		 if(a == 'yes'){
	if(v == 1){
		var val  = $('#dbn'+id).val();
		if(val == ""){
			Showbo.Msg.alert('账号不能为空');
			lised();
			return false;
		}

		if((/[\u4e00-\u9fa5]+/).test(val)){ 
        Showbo.Msg.alert("账号不能出现汉字");
        lised();
        return false;
    }
		$.ajax({
		url:'{:U("Home/Setsail/savacc")}',
			dataType:'json',
			data:{id:id,val:val,type:1},
			type:'post',
			success:function(data){
				if(data.errcode == 1){
					Showbo.Msg.alert(data.errmsg);
					lised();
				}else if(data.errcode == 3){
					Showbo.Msg.alert(data.errmsg);
					lised();
				}
			}
		})
	}
	
		 }
	 })
}

//修改公司名称
function savname(id,v){
	if(v == 1){
		var val = $('#dname'+id).val();
		// data = {id:id,val:val,type:1};
	}
	 Showbo.Msg.confirm('确认修改?',function(a){
		 if(a == 'yes'){
		 	if(val == ""){
			Showbo.Msg.alert('名称不能为空');
			lised();
			return false;
		}

	$.ajax({
		    url:'{:U("Home/Setsail/savname")}',
			dataType:'json',
			data:{id:id,val:val,type:1},
			type:'post',
			success:function(data){
				if(data.errcode == 1){
					Showbo.Msg.alert(data.errmsg);
					lised();
				}
			}
		})
		 }
	 })
}
function addregion(){
 	var duty = $('#duty').val();
 	var acc = $('#acc').val();
 	var pwd = $('#pwd').val();
 	var agpwd = $('#agpwd').val();
 	var name = $('#name').val();
 	if(acc == ""){
 		Showbo.Msg.alert('企业账号不能为空,请重新输入');
		return false;
 	}
 	if((/[\u4e00-\u9fa5]+/).test(acc)){ 
        Showbo.Msg.alert("账号不能出现汉字");
        lised();
        return false;
    }
 	if(name == ""){
 		Showbo.Msg.alert('企业名称不能为空,请重新输入');
		return false;
 	}
 	if(pwd == ""){
 		Showbo.Msg.alert('密码不能为空,请重新输入');
		return false;
 	}
 	if(agpwd == ""){
 		Showbo.Msg.alert('确认密码不能为空,请重新输入');
		return false;
 	}
 	if(pwd != agpwd){
 		Showbo.Msg.alert('两次密码不一致,请重新输入');
		return false;
 	}
 	$.ajax({
 		url:'{:U("Home/Setsail/addregion")}',
			dataType:'json',
			data:{acc:acc,pwd:pwd,name:name,type:2},
			type:'post',
			success:function(data){
				if(data.errcode == 1){
					Showbo.Msg.alert(data.errmsg);
					$('#addm').hide();
					$('.masker').hide();
					lised();
				}else if(data.errcode == 3){
					Showbo.Msg.alert(data.errmsg);
				}
			}

 	})
 }
 </script>