<include file="Public/header" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.upload.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.tabso_yeso.js"></script>

<body>
	
<table>
		<tr>
		<th>大区总裁</th>
		<td>
		<select name="" id="presid">

        <option value="">--请选择--</option>

        <foreach name="admin" item="v">

        <option value="{$v.id}">{$v.qyname}</option>

        </foreach>

		</select>
		</td>
		</tr>

		<tr>
		<th>角色</th>
			<td>
			<select name="" id="role" onChange="showchek()">
				
				<option value="">--请选择--</option>	

				<foreach name="role" item="vs">
					
		        <option value="{$vs.weight}">{$vs.name}</option>
				</foreach>
			
			</select>
			</td>
		</tr>
		<tr>

				<td>账号:<input type="text" id="gsaccount"></td>
		</tr>

		<tr>

				<td>名称:<input type="text" id="gsname"></td>
		</tr>

		<tr>

				<td>密码:<input type="password" id="gspwd"></td>
		</tr>
		<tr>

				<td>确认密码:<input type="password" id="pwdtow"></td>
		</tr>
		<tr>

				<td>联系方式:<input type="type" id="gsmobile"></td>
		</tr>
		<tr>
				<td>讲师
				<input type="checkbox" name="lecyes" value="1" ></td>
			    <td>财务
				<input type="checkbox" name="cwyes" value="1" disabled="disabled" id="cwnone"></td>

		</tr>

		<tr>
				<td><input type="button" value="确认" onclick="addlef()"></td>

		</tr>
		


</table>


</body>

<script>
function showchek()
{
	var val = $('#role').val();
	if(val == 5  || val == 6)
 	{
 		$('#cwnone').attr('disabled',false);
 	}
 	else
 	{
 		$('#cwnone').attr('disabled','disabled');
 	}
}
 function addlef()
 {
 	var presid = $('#presid').val();  //大区总裁id
 	var role = $('#role').val();     //角色name
 	var gsname = $('#gsname').val(); // 公司名称
 	var gspwd = $('#gspwd').val();  // 公司密码
 	var gsmobile = $('#gsmobile').val();   //公司电话
 	var letype = $("input[name=lecyes]:checked").val();  //讲师
 	var cwtype = $("input[name=cwyes]:checked").val();    //财务
 	var account = $('#gsaccount').val();   //账号
 	var pwdtow = $("#pwdtow").val();

 	if(letype == undefined)
 		{
 			letype = 0;
 		}
 		if(cwtype == undefined)
 		{
 			cwtype = 0;
 		}

 	if(presid == '')
 	{
 		Showbo.Msg.alert('请选择大区总裁');
 		return false;
 	}
 	if(role == '')
 	{
 		Showbo.Msg.alert('请选择角色');
 		return false;
 	}
 	if(gsname == '')
 	{
 		Showbo.Msg.alert('请填写公司名称');
 		return false;
 	}
 	if(gspwd == '')
 	{
 		Showbo.Msg.alert('请填写密码');
 		return false;
 	}
 	if(!(/^13[\d]{9}$|^14[5,7]{1}\d{8}$|^15[\d]{9}$|^17[0,6,7,8]{1}\d{8}$|^18[\d]{9}$/.test(gsmobile))){
        Showbo.Msg.alert("您输入的手机号格式不对或填写号码不足11位");
        return false;
    }
    if(account == '')
 	{
 		Showbo.Msg.alert('请填写账号');
 		return false;
 	}
 	if(pwdtow != gspwd)
 	{
 		Showbo.Msg.alert('您输入的两次密码不一致,请重新输入');
 		return false;
 	}
 	
 	if(role == 8)
 	{

	 	$.ajax({
	      url:"{:U('Home/Setsail/addzjl')}",
	      type:'post',
	      data:{presid:presid,role:role,gsname:gsname,gspwd:gspwd,gsmobile:gsmobile,letype:letype,cwtype:cwtype,account:account},
	      dataType:'json',
	      success:function(res){
	      		if(res == 1)
	      		{
	      			Showbo.Msg.alert('添加完毕');
	      		}
	      		if(res == 3)
	      		{
	      			Showbo.Msg.alert('此账号已存在');
	      		}
	      }
	 	 })
 	}
 	else
 	{
	 	 $.ajax({
	      url:"{:U('Home/Setsail/addfgs')}",
	      type:'post',
	      data:{presid:presid,role:role,gsname:gsname,gspwd:gspwd,gsmobile:gsmobile,letype:letype,cwtype:cwtype,account:account},
	      dataType:'json',
	      success:function(res){

	      		if(res == 1)
	      		{
	      			Showbo.Msg.alert('添加完毕');
	      		}
	      		if(res == 3)
	      		{
	      			Showbo.Msg.alert('此账号已存在');
	      		}
      }
 	  })
 	}

 }

</script>